<div id="table-on-list">
  <div id="table-label">
    stolik #{{tableIndex}}
  </div>
  <div id="table-dimensions">
    <div id="table-width">
      <div id="table-width-label">szerokość</div>
      <div><mat-slider [(ngModel)]="table.table.widthInPercents" (change)="onChangeTableWidth()"></mat-slider></div>
    </div>
    <div id="table-length">
      <div id="table-length-label">długość</div>
      <div><mat-slider [(ngModel)]="table.table.lengthInPercents" (change)="onChangeTableLength()"></mat-slider></div>
    </div>
  </div>
  <div class="trash-wrap">
    <i class="fas fa-trash trash ml-1"
       (click)="removeTable()">
    </i>
  </div>
</div>
