#table-on-list {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  & > #table-dimensions {
    flex: 1;
    display: flex;
    & > #table-width {
      width: 50%;
      & > #table-width-label {
        text-align: center;
      }
    }
    & > #table-length {
      width: 50%;
      & > #table-length-label {
        text-align: center;
      }
    }
  }
}

.mat-slider-horizontal {
  width: 100%;
}

#table-dimensions {
  border-right: 1px solid #ccc;
}

.trash-wrap {
  padding-left: 7px;
}
