<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <div class="row">
        <div *ngIf="authService.userIsLoggedIn()"><a routerLink="/home" class="navbar-brand">Home</a></div>
        <ul class="navbar-nav">
          <li *ngIf="!authService.userIsLoggedIn()"><a routerLink="/login" class="nav-link">Zaloguj się</a></li>
          <li *ngIf="authService.userIsLoggedIn() && authService.roleAuthorised([employeeRoleName])">
            <a routerLink="/dishes" class="nav-link">Dania</a>
          </li>
          <li *ngIf="authService.userIsLoggedIn() && authService.roleAuthorised([employeeRoleName])">
            <a routerLink="/ingredients" class="nav-link">Składniki</a>
          </li>
          <li *ngIf="authService.userIsLoggedIn() && authService.roleAuthorised([employeeRoleName])">
            <a routerLink="/tables/arrangement" class="nav-link">Rozmieszczenie stolików</a>
          </li>
          <li *ngIf="authService.userIsLoggedIn() && authService.roleAuthorised([customerRoleName])">
            <a routerLink="/tables/booking" class="nav-link">Rezerwacja stolików</a>
          </li>
          <li *ngIf="authService.userIsLoggedIn()">
            <a
              (click)="logoutUser()"
              class="nav-link"
              [ngStyle]="{cursor: 'pointer'}">
              Wyloguj się
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
