<div id="sidenavPadding" class="d-flex flex-column">
  <app-dish-info-displaying *ngIf="!editableDish" [dish]="dish"></app-dish-info-displaying>
  <app-dish-editing
    *ngIf="editableDish"
    [dish]="dish"
    [newDish]="newDish"
    [dishesArrayIndex]="dishesArrayIndex"
    [editableDish]="editableDish">
  </app-dish-editing>
</div>
