#ingredients-list > li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.badge-pill {
  margin-top: .6em;
  margin-bottom: .6em;
}
.badge-wrap {
  margin-right: 15px;
}

.ingredient-amount-text {
  margin-top: 2px;
  margin-right: 7px;
}
