<h1 class="mb-3">Rezerwacja stolików</h1>
<h5 class="mb-1">Filtry</h5>
<div class="d-flex justify-content-between">
  <div class="d-flex align-items-baseline ml-1 mr-1">
    <div class="input-group-prepend">
      <label class="input-group-text" for="datePiker">data</label>
    </div>
    <div class="openDatePickerButton" (click)="datepicker.toggle()">
      <input class="form-control" placeholder="yyyy-mm-dd" id="datePiker"
             name="dp" [(ngModel)]="reservationDate" ngbDatepicker #datepicker="ngbDatepicker">
    </div>
  </div>
  <div class="d-flex align-items-baseline ml-1 mr-1">
    <div class="input-group-prepend">
      <label class="input-group-text" for="workingHours">Godzina rezerwacji</label>
    </div>
    <select
      class="custom-select"
      name="workingHours"
      id="workingHours"
      required
      #workingHours="ngModel"
      [(ngModel)]="reservation.beginningHour"
      (change)="onChangingBeginningHour()">
      <option *ngFor="let hour of restaurantWorkingHours" [value]="hour">{{hour + ':00'}}</option>
    </select>
  </div>
  <div class="d-flex align-items-baseline ml-1 mr-1">
    <div class="input-group-prepend">
      <label class="input-group-text" for="bookingDuration">czas rezerwacji (na jak długo godz.)</label>
    </div>
    <select
      class="custom-select"
      name="bookingDuration"
      id="bookingDuration"
      required
      #bookingDuration="ngModel"
      [(ngModel)]="reservation.duration">
      <option *ngFor="let duration of bookingDurationsList" [value]="duration">{{duration}}</option>
    </select>
  </div>
</div>
<button
  class="btn btn-outline-success mb-1"
  (click)="filter()">
  Filtruj
</button>
<hr>
<h5 class="mb-1">Stoliki</h5>
<div class="alert alert-info mt-1">
  Wybierz stolik do zarezerwowania
</div>
<div *ngIf="showAlertToSaveEventToGoogleCal" class="alert alert-success mt-1">
  <span class="link-style" (click)="saveReservationToGCal()">Zapisz rezerwację w swoim kalendarzu Google.</span>
</div>
<div id="restaurant-bounds-border">
  <div id="restaurant-bounds"
       #restaurantBounds>
    <div *ngFor="let table of tables; let i = index">
      <div ngDraggable
           #tables
           [ngDraggable]=false
           [position]="{x: percentsToPixels(table.position.xInPercents), y: percentsToPixels(table.position.yInPercents)}"
           [ngStyle]="{
            'width': percentsToPixels(table.widthInPercents).toString() + 'px',
            'height': percentsToPixels(table.lengthInPercents).toString() + 'px'
            }"
           class="drag-grid"
           (click)="onPressTable(i)">
        #{{i}}
      </div>
    </div>
  </div>
</div>
