.openDatePickerButton {
  cursor: pointer;
}

.link-style {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
}
