<div *ngIf="!editableDish; else disabledAppDish">
  <app-dish
    *ngFor="let dishItem of dishes; let i = index"
    [dish]="dishItem"
    [routerLink]="[i]"
    (click)="sidenav.open()"
    routerLinkActive="active"
    class="list-group-item list-group-item-action">
  </app-dish>
</div>
<ng-template #disabledAppDish>
  <app-dish
    *ngFor="let dishItem of dishes; let i = index"
    [dish]="dishItem"
    [routerLink]="[i]"
    routerLinkActive="active"
    class="list-group-item list-group-item-action disabled">
  </app-dish>
</ng-template>
