<div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onLogin(form)" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
          <span *ngIf="!email.valid && email.touched" class="form-text">Proszę wprowadzić email</span>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            #password="ngModel">
          <span *ngIf="!password.valid && password.touched" class="form-text">Proszę wprowadzić hasło</span>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!form.valid">
          zaloguj się
        </button>
      </form>
      <span *ngIf="errorOnLogin">Niepoprawne dane do logowania</span>
    </div>
  </div>
</div>
