<a class="d-flex justify-content-between align-items-baseline">
  <h5>{{ingredient.name}}</h5>
  <div class="d-flex">
    <i class="fas fa-trash trash ml-1"
       (click)="removeIngredient()">
    </i>
  </div>
</a>
