<h1 class="mb-3">Rozmieszczenie stolików w restauracji</h1>
<div class="alert alert-info mt-1">
  Przeciągaj stoliki w obrębie restauracji, aby zmieniać położenie stolików
</div>
<button
  class="btn btn-primary mb-1 mr-1"
  (click)="addTable()">
  Dodaj stolik
</button>
<button
  class="btn btn-outline-success mb-1"
  [disabled]="!(this.intersectedTablesNumbersSet.size === 0)"
  (click)="saveTablesArrangement()">
  Zapisz konfigurację
</button>
<div *ngIf="!(this.intersectedTablesNumbersSet.size === 0)" class="alert alert-warning mt-1">
  Stoły nie mogą na siebie nachodzić, ani wychodzić poza granice restauracji. Zmień pozycje stołów.
</div>
<app-tables-list [tables]="tables"></app-tables-list>
<div id="restaurant-bounds-border">
  <div id="restaurant-bounds"
       #restaurantBounds>
    <div *ngFor="let table of tables; let i = index">
      <div ngDraggable
           #tables
           [bounds]="restaurantBounds"
           [inBounds]="true"
           [gridSize]="1"
           [zIndex]="100"
           [preventDefaultEvent]="true"
           [position]="{x: percentsToPixels(table.table.position.xInPercents), y: percentsToPixels(table.table.position.yInPercents)}"
           [ngStyle]="{
                  'width': percentsToPixels(table.table.widthInPercents).toString() + 'px',
                  'height': percentsToPixels(table.table.lengthInPercents).toString() + 'px',
                  'border-color': table.isCollision ? 'red' : 'black'
              }"
           (endOffset)="onMoveEnd(i, $event)"
           class="drag-grid">
        #{{i}}
      </div>
    </div>
  </div>
</div>
