<div *ngIf="dish">
  <div class="mb-3">
    <div><h3>{{dish.name}}</h3></div>
    <div>cena: {{dish.price}} zł.</div>
    <div>kategoria: {{dish.category.name}}</div>
  </div>
  <h4 class="mb-1">Składniki</h4>
  <ul id="ingredients-list" class="list-group mb-1">
    <li *ngFor="let dishIngredient of dish.dishIngredients"
        class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div>{{dishIngredient.ingredient.name}}</div>
        <div class="d-flex">
          <div class="ingredient-amount-text">ilość:</div>
          <span class="badge badge-primary badge-pill">
                {{dishIngredient.quantity}} {{dishIngredient.ingredient.measurementUnit.name}}
            </span>
        </div>
      </div>
    </li>
  </ul>
</div>
