<div id="sidenavPadding" class="d-flex flex-column">
  <form #form="ngForm" (ngSubmit)="saveForm()">
    <div *ngIf="ingredient">
      <div class="form-group">
        <input
          id="ingredientName"
          name="ingredientName"
          type="text"
          placeholder="nazwa składnika"
          required
          [(ngModel)]=ingredient.name
          class="form-control form-control-sm sidenav-main-title"
          #ingredientName="ngModel"
        >
        <span class="form-text" *ngIf="!ingredientName.valid">Proszę wprowadzić nazwę składnika</span>
      </div>
      <div class="form-group">
        <div class="d-flex">
          <div class="input-group-prepend">
            <label class="input-group-text" for="ingredientMeasurementUnit">jednostka</label>
          </div>
          <select
            class="custom-select"
            name="ingredientMeasurementUnit"
            id="ingredientMeasurementUnit"
            required
            #ingredientMeasurementUnit="ngModel"
            [(ngModel)]="ingredient.measurementUnit.id">
            <option *ngFor="let measurementUnit of measurementUnits" [value]="measurementUnit.id">{{measurementUnit.name}}</option>
          </select>
        </div>
        <span class="form-text" *ngIf="!ingredientMeasurementUnit.valid">Proszę wybrać jednostkę</span>
      </div>
    </div>
  </form>
</div>
