<mat-sidenav-container class="sidenav-content" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="side" position="end">
    <div class="d-flex justify-content-between border-bottom pt-2 pr-3 pb-2 pl-3">
      <button
        class="btn btn-primary"
        (click)="sidenav.close()">
        anuluj
      </button>

      <button
        class="btn btn-outline-success mr-1"
        [disabled]="!ingredientFormIsValid"
        (click)="saveNewIngredient()">
        zapisz
      </button>
    </div>
    <app-ingredient-info [ingredient]="ingredient"></app-ingredient-info>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary mb-1"
            (click)="showForm()">
            Dodaj składnik
          </button>
          <app-ingredients-list [sidenav]="sidenav" class="list-group list-group-flush"></app-ingredients-list>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
