<a class="d-flex" style="cursor: pointer;">
  <div>
    <div class="d-flex justify-content-sm-start align-items-center">
      <h5>{{dish.name}}</h5>
      <div class="ml-3">{{dish.price}} zł.</div>
    </div>
    <div class="d-flex">
      <div class="mr-1">Składniki: </div>
      <div>{{ingredientsList()}}</div>
    </div>
  </div>
</a>
