<form #form="ngForm" (ngSubmit)="saveForm()">
  <div *ngIf="dishTemp">
    <div class="mb-3">
      <div class="form-group">
        <input
          id="dishName"
          name="dishName"
          type="text"
          placeholder="nazwa dania"
          required
          [(ngModel)]=dishTemp.name
          class="form-control-sm sidenav-main-title form-control"
          #dishName="ngModel"
        >
        <span class="form-text" *ngIf="!dishName.valid">Proszę wprowadzić nazwę dania</span>
      </div>
      <div class="form-group">
        <div class="d-flex align-items-baseline">
          <div class="mr-3">cena:</div>
          <div>
            <input
              id="dishPrice"
              name="dishPrice"
              [(ngModel)]=dishTemp.price
              required
              currencyMask
              [options]="{ decimal: '.', allowNegative: false, align: 'left', prefix: '', thousands: '' }"
              min="0.01"
              maxlength="8"
              placeholder="cena"
              class="form-control-sm form-control width-85px"
              #dishPrice="ngModel"
            >
          </div>
          <div class="ml-1">zł.</div>
        </div>
        <span class="form-text" *ngIf="!dishPrice.valid">Proszę wprowadzić cenę dania</span>
      </div>
      <div class="form-group">
        <div class="d-flex align-items-baseline">
          <div class="input-group-prepend">
            <label class="input-group-text" for="dishType">Kategoria dania</label>
          </div>
          <select
            class="custom-select"
            name="dishType"
            id="dishType"
            required
            #dishCategory="ngModel"
            [(ngModel)]="dishTemp.category.id">
            <option *ngFor="let dishCategory of dishCategories" [value]="dishCategory.id">{{dishCategory.name}}</option>
          </select>
        </div>
        <span class="form-text" *ngIf="!dishCategory.valid">Proszę wybrać typ dania</span>
      </div>
    </div>
    <h4 class="mb-1">Składniki</h4>
    <ul id="ingredients-list" class="list-group mb-1">
      <li *ngFor="let dishIngredient of dishTemp.dishIngredients; let i = index "
          class="list-group-item">
        <div class="d-flex align-items-center w-100">
          <div [ngStyle]="{'flex': 1}">
            <div id="ingredient-names-dropdown-list">
              <div class="d-flex">
                <div class="input-group-prepend">
                  <label class="input-group-text">składnik: </label>
                </div>
                <select
                  *ngIf="ingredients"
                  class="custom-select"
                  [name]="'ingredientName' + i"
                  [id]="'ingredientName' + i"
                  required
                  #ingredientName="ngModel"
                  [(ngModel)]="dishIngredient.ingredient.id">
                  <option *ngFor="let ingredient of ingredients"
                          [value]="ingredient.id">{{ingredient.name}}</option>
                </select>
              </div>
              <span class="form-text" *ngIf="!dishIngredient.ingredient.id">Proszę wybrać składnik</span>
            </div>
            <div id="ingredient-quantity-with-unit">
              <div class="d-flex mt-1">
                <div class="input-group-prepend">
                  <label class="input-group-text">
                    ilość (jednostka:
                    <span *ngIf="dishIngredient.ingredient.id != null && ingredients != null">
                        {{getMeasurementUnitName(dishIngredient.ingredient.id)}}
                      </span>)
                  </label>
                </div>
                <input
                  *ngIf="dishIngredient.ingredient.id == null"
                  disabled
                  class="form-control width-105px">
                <input
                  *ngIf="dishIngredient.ingredient.id != null"
                  [name]="'ingredientQuantity' + i"
                  [(ngModel)]=dishIngredient.quantity
                  required
                  [disabled]=""
                  currencyMask
                  [options]="{ decimal: '.', allowNegative: false, align: 'left', prefix: '', thousands: '' }"
                  min="0.01"
                  maxlength="8"
                  placeholder="ilość"
                  class="form-control width-105px"
                  #ingredientQuantity="ngModel">
              </div>
              <span class="form-text" *ngIf="!dishIngredient.quantity">Proszę wprowadzić ilość składnika</span>
            </div>
          </div>
          <i class="fas fa-trash trash ml-1"
             (click)="removeIngredient(i)">
          </i>
        </div>
      </li>
    </ul>
    <div class="d-flex list-group-item justify-content-center plus-icon-wrap"
         (click)="addIngredient()">
      <i id="plus-icon" class="fas fa-plus-circle"></i>
    </div>
  </div>
</form>
