/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.font-size-1rem {
  font-size: 1rem !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.mat-drawer-container {
  background: #ffffff;
}

mat-sidenav {
  width: 500px;
}

.sidenav-content {
  position: absolute !important;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidenavPadding {
  padding: .5rem 1rem 3rem 1rem;
  input {
    font-size: 1rem;
    &:focus {
      outline: 0;
    }
    &.sidenav-main-title {
      font-size: 1.75rem;
      font-weight: 500;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}

.width-85px {
  width: 85px !important;
}
.width-90px {
  width: 90px !important;
}
.width-105px {
  width: 105px !important;
}

.width-150px {
  width: 150px !important;
}

.width-100px {
  width: 100px !important;
}

.list-container-mask{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 3;
}

.trash {
  color: rgba(0, 0, 0, 0.32);
  cursor: pointer;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

#restaurant-bounds {
  width: 100%;
  min-height: 100px;
}

#restaurant-bounds-border {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000000;
}

.drag-grid {
  position: absolute;
  background-color: #f8cb00;
  border: 1px solid;
  cursor: pointer;
}

.saving-status-window {
  position: absolute;
  top: 80px;
  right: 90px;
  z-index: 2;
}
