<mat-sidenav-container class="sidenav-content" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="side" position="end" [disableClose]="true">
    <div class="d-flex justify-content-between border-bottom pt-2 pr-3 pb-2 pl-3">
      <button class="btn btn-primary" (click)="goToDishes()" *ngIf="!editableDish">
        zamknij
      </button>
      <button
        class="btn btn-primary"
        (click)="goToDishes()"
        *ngIf="editableDish">
        anuluj
      </button>
      <div>
        <button class="btn btn-outline-success mr-1" *ngIf="editableDish" [disabled]="!ingredientFormIsValid"
                (click)="saveChangesInDish()">
          zapisz
        </button>
        <button class="btn btn-danger mr-1" *ngIf="!editableDish" (click)="removeDish()">
          usuń danie
        </button>
        <button class="btn btn-secondary" *ngIf="!editableDish" (click)="changeFormToEditable()">
          edytuj danie
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary mb-1" routerLink="newDish" (click)="addNewDish()">
            Dodaj danie
          </button>
          <app-dishes-list [sidenav]="sidenav" class="list-group list-group-flush"></app-dishes-list>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
